<?xml version="1.0"?>
<configuration>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<httpHandlers>
			<add verb="GET" path="getWmImg" type="Mod03_WebApplications.ThumbsAndWatermarking.ThumbsAndWaterMarkHandler"/>
			<!--<add verb="GET" path="getWmImg" type="Mod03_WebApplications.ThumbsAndWatermarking.WaterMarkHandlerFactory"/>-->
		</httpHandlers>
	</system.web>

</configuration>
